body {
  margin: 10px 100px;
  font-family: "Poppins";
}

hr {
  border: 3px solid #c9d9d2;
  border-radius: 30px;
}

/* ----------------------------------------------Navbar Start---------------------------------------------- */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* font-size: 20; */
}

.nav-logo img {
  width: 130px;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  padding: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #03314b;
  font-weight: 600;
}

nav ul li a:hover {
  border-bottom: 2px solid #34d9bb;
  color: #34d9bb;
}

nav .login-button {
  width: 93px;
  height: 40px;
  background-color: #fff;
  border: 2px solid #34d9bb;
  border-radius: 12px;
  color: #34d9bb;
  font-weight: bold;
  font-family: poppins;
  cursor: pointer;
}

nav .login-button:hover {
  background-color: #34d9bb;
  color: #fff;
}

nav .register-button {
  width: 93px;
  height: 40px;
  background-color: #34d9bb;
  border: none;
  border-radius: 12px;
  color: #fff;
  font-family: poppins;
  font-weight: bold;
  cursor: pointer;
}

nav .register-button:hover {
  background-color: #fff;
  color: #34d9bb;
  border: 2px solid #34d9bb;
}

/* ----------------------------------------------Navbar End---------------------------------------------- */

/* ----------------------------------------------Hero Start---------------------------------------------- */
.hero {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-text {
  margin-left: 50px;
  align-items: center;
  text-align: justify;
}

.hero h1 {
  font-size: 50px;
  margin: 0;
  font-weight: 500;
}

.hero .h1-color {
  color: #34d9bb;
  font-size: 50px;
  font-weight: 900;
}

.hero-text p {
  font-size: 24px;
  font-weight: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #898e8c;
}

.hero-text button {
  width: 250px;
  height: 55px;
  background-color: transparent;
  border: 2px solid #34d9bb;
  font-size: 18px;
  color: #34d9bb;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
}

.hero-text button:hover {
  background-color: #34d9bb;
  color: #fff;
}

.hero-image img {
  width: 600px;
  height: 600px;
}

/* ----------------------------------------------Hero End---------------------------------------------- */

/* ----------------------------------------------Stunting Start---------------------------------------------- */
.stunting {
  background-color: #f5f5f5;
  text-align: center;
  margin-top: 40px;
  padding: 30px;
  margin-left: -100px;
  margin-right: -100px;
}

.stunting h1 {
  font-size: 32px;
  font-weight: 600;
  margin: 0;
}

.data-stunting {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}

.stunting .data-item {
  padding: 20px;
}

.stunting .data-item h1 {
  font-size: 25px;
  font-weight: 600;
  margin: 0;
}

.stunting .data-item img {
  width: 50px;
  height: 50px;
}

.stunting .data-item p {
  margin: 0;
}

/* ----------------------------------------------Layanan Start---------------------------------------------- */

.layanan {
  padding: 30px;
  position: static;
  margin-top: 20px;
  margin-left: -70px;
  margin-right: -70px;
}

.layanan h1 {
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  margin: 0;
}

.layanan-slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-top: 30px;
  max-height: 450px;
}

.slider-open:checked + .slider-item {
  position: relative;
  opacity: 100;
}

.slider-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
  margin-top: 30px;
  padding-left: 150px;
  padding-right: 150px;
  display: flex;
  justify-content: space-around;
}

.slider-text {
  width: 40%;
  text-align: justify;
}

.h1-slider {
  font-size: 32px;
  color: #34d9bb;
  font-weight: 700;
  margin: 0;
}

.slider-item p {
  margin: 0;
  margin-top: 10px;
  line-height: 2;
  font-size: 24px;
  font-weight: 300;
}

.slider-img {
  width: 60%;
}
.slider-img img {
  width: 400px;
  height: 400px;
}

.slider-control {
  color: #455a64;
  cursor: pointer;
  display: none;
  font-size: 100px;
  height: 50px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  /* width: 40px; */
}

.slider-control.prev {
  left: 2%;
}

.slider-control.next {
  right: 2%;
}

.slider-control:hover {
  color: #34d9bb;
}

#slider-1:checked ~ .control-1,
#slider-2:checked ~ .control-2,
#slider-3:checked ~ .control-3 {
  display: block;
}

.slider-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.slider-indicators li {
  display: inline-block;
  margin: 0 5px;
}

.slider-button {
  color: #c7c7c7;
  cursor: pointer;
  display: block;
  font-size: 40px;
}

.slider-button:hover {
  color: #34d9bb;
}

#slider-1:checked
  ~ .control-1
  ~ .slider-indicators
  li:nth-child(1)
  .slider-button,
#slider-2:checked
  ~ .control-2
  ~ .slider-indicators
  li:nth-child(2)
  .slider-button,
#slider-3:checked
  ~ .control-3
  ~ .slider-indicators
  li:nth-child(3)
  .slider-button {
  color: #455a64;
}

/* ----------------------------------------------Layanan End---------------------------------------------- */

/* ----------------------------------------------Artikel Start---------------------------------------------- */

.artikel {
  padding: 30px;
  margin-top: 20px;
  position: relative;
}
.artikel h1 {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  margin: 0;
}

.artikel-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  gap: 40px;
}

.artikel-item {
  background-color: #f5f5f5;
  border-radius: 0px;
  padding: 20px;
  display: block;
  position: relative;
  width: 300px;
}

.card-image {
  margin: -20px;
  margin-bottom: 0;
  overflow: hidden;
  position: relative;
  height: 200px;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-text {
  margin-top: 10px;
  text-align: justify;
}

.card-text h4 {
  color: #34d9bb;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 20px;
}

.card-text h3 {
  font-size: 22px;
  font-weight: 600;
  margin-top: 0px;
}

.card-text p {
  color: #898e8c;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  margin-top: 5px;
}

.card-footer {
  margin-top: 10px;
  text-align: end;
}
.card-footer a {
  color: #34d9bb;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

.card-footer a:hover {
  color: #fca311;
}

/* ----------------------------------------------Artikel End---------------------------------------------- */

/* ----------------------------------------------Footer Start---------------------------------------------- */

.footer {
  padding-top: 70px;
  margin-top: 20px;
  position: relative;
  margin-left: -100px;
  margin-right: -100px;
  background-color: #1b443b;
}

.footer hr {
  border: 1px solid #c9d9d2;
  border-radius: 30px;
  max-width: 1400px;
}

.footer-up {
  display: flex;
  justify-content: space-around;
  /* margin-left: -40px; */
}

.footer-up img {
  width: 200px;
  height: 40px;
  object-fit: cover;
}

.left-content {
  width: 700px;
  margin-left: -20px;
  display: inline-block;
}

.left-content p {
  font-size: 16px;
  line-height: 2;
  margin-top: 20px;
  color: #ffffff;
}

.left-content ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-left: 0;
}

.sosmed i {
  font-size: 20px;
  height: 35px;
  width: 35px;
  transition: all 0.3s ease;
  background-color: #ffffff;
  color: #1b443b;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
}

.sosmed i:hover {
  background-color: #fca311;
}
.right-content {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  margin-top: -30px;
}

.right-content p {
  font-size: 20px;
  font-weight: 200;
  line-height: 2;
  margin-top: 20px;
  color: #ffffff;
}

.right-content a {
  font-size: 16px;
  font-weight: 50;
  line-height: 2;
  margin-top: 20px;
  color: #ffffff;
}

.right-content a:hover {
  color: #fca311;
}

.right-content ul {
  list-style: none;
  padding-left: 0;
  line-height: 3;
}

.right-content ul a {
  text-decoration: none;
}

.footer-link i {
  margin-right: 10px;
}
.footer-down {
  display: flex;
  justify-content: space-between;
}

.option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.footer-down {
  display: flex;
  justify-content: space-between;
  margin-left: 60px;
  margin-right: 60px;
  text-align: center;
}

.footer-down p {
  font-size: 16px;
  font-weight: 50;
  line-height: 2;
  margin-top: 20px;
  color: #ffffff;
}

.footer-down a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 50;
  line-height: 2;
  color: #ffffff;
}

.footer-down a:hover {
  color: #fca311;
}
/* ----------------------------------------------Footer End---------------------------------------------- */

/* ----------------------------------------------Form Start---------------------------------------------- */

.form {
  padding: 30px;
  margin-top: 20px;
  /* position: relative; */
  max-width: 700px;
  padding-left: 300px;
}

.form h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 600;
  color: #1b443b;
}

.validation-form {
  padding: 20px;
  width: 100%;
}

.validation-form input[type="text"],
[type="email"],
[type="number"] {
  width: 100%;
  padding: 10px;
  border: 2px solid #e1e1e1;
  border-radius: 5px;
  margin: 10px 0;
  box-sizing: border-box;
  font-size: 18px;
  letter-spacing: 2px;
}

.validation-form input [type="text"]:focus,
[type="number"]:focus,
[type="email"]:focus {
  outline: none;
  border: 2px solid #34d9bb;
  font-weight: 400;
}

.validation-form input[type="checkbox"],
select {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.validation-form input[type="checkbox"]:focus {
  width: 20px;
  height: 20px;
  border-radius: 4px;
}

.validation-form label {
  font-size: 18px;
  font-weight: 400;
  color: #1b443b;
  align-content: center;
}

.validation-form button {
  margin-top: 30px;
  margin-left: 100px;
  width: 200px;
  height: 40px;
  background-color: #fff;
  border: 2px solid #34d9bb;
  border-radius: 8px;
  color: #34d9bb;
  font-weight: bold;
  font-family: poppins;
  cursor: pointer;
}

.validation-form button:hover {
  background-color: #34d9bb;
  color: #fff;
}
/* ----------------------------------------------Form End---------------------------------------------- */

/* ----------------------------------------------Deskripsi Start---------------------------------------------- */

.desc {
  padding: 30px;
  text-align: center;
}

.desc h1 {
  font-size: 30px;
  font-weight: 600;
  color: #1b443b;
}

.desc h3 {
  font-size: 20px;
  font-weight: 700;
  color: #34d9bb;
}

.desc p {
  font-size: 16px;
  font-weight: 50;
  color: #898e8c;
}

.desc a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
  color: #34d9bb;
}

.desc a:hover {
  color: #fca311;
}

/* ----------------------------------------------Deskripsi End---------------------------------------------- */
